.line-active::after {
  content: " ";
  border-top: 1px solid green;
  width: 150%;
  top: 29%;
  left: 72%;
  display: block;
  position: absolute;
}
.line-inActive::after {
  content: " ";
  border-top: 1px solid #afafaf;
  width: 150%;
  top: 29%;
  left: 72%;
  display: block;
  position: absolute;
}
:host ::ng-deep .p-datatable {
  max-height: 50vh;
  overflow-y: auto;
}
